{% extends 'base.html' %}
{% block content %}
  <h1>회원목록</h1>
  <h2>현재 로그인한 사람: {{ user }}</h2>
  <hr>
  {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <form action="{% url 'accounts:delete' %}" method='POST' class="d-inline">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-danger">
    </form>
  {% else %}
    <a href="{% url 'accounts:signup' %}" class="btn btn-info">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}
  <hr>
  {% for u in users %}
    <div class="d-flex">
      <div class="me-auto btn btn-primary">
        {{ u.username }}
      </div>
      <div>
        <a href="{% url 'accounts:update' %}" class="btn btn-secondary">수정</a>
      </div>
    </div>
  <hr>
  {% endfor %}
{% endblock content %}